/* =========================================================
   RESPONSIVE
========================================================= */

@media (max-width: 991.98px) {
  .brand-area {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .header-values {
    border-left: 0;
    padding-left: 0;
  }

  .hero-title {
    text-align: center;
  }

  .contact-box {
    border-left: 0;
    padding-left: 0;
  }

  .service-area-box {
    justify-content: start;
  }
}

@media (max-width: 575.98px) {
  .brand-logo {
    width: 4.6rem;
  }

  .language-flag {
    width: 3.4rem;
  }

  .guarantee-badge {
    width: 4.7rem;
    min-height: 5rem;
  }

  .service-header {
    min-height: 6.7rem;
  }

  .footer-values span:not(:last-child)::after {
    display: none;
  }
}
